# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .packages file is deprecated.
# Internal/external package managers might still use it though.
.packages

# Flutter/Dart-related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android related
**/android/**/generated/
**/android/app/src/main/res/drawable-*/
**/android/captures/
**/android/gradle/
**/android/local.properties
**/android/settings.gradle
**/android/build/
**/android/.gradle/
**/android/captures/
**/android/gradle/

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/.generated/
**/ios/Pods/
**/ios/.symlinks/
**/ios/config/

# Symbolication related
app.*.symbols

# Executable distributions
*.apk
*.aab
*.exe
