<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="TrueLedger" Language="1033" Version="$(var.AppVersion)" Manufacturer="Satya Kommula" UpgradeCode="a9a65466-4f2b-9e8e-8a1a-4d3fb046b7f0">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="TrueLedger" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Icon Id="app_icon.ico" SourceFile="windows\runner\resources\app_icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="TrueLedger" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="TrueLedger"/>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="TrueLedgerEXE" Guid="*">
                <File Id="TrueLedgerEXE" Source="build\windows\x64\runner\Release\trueledger.exe" KeyPath="yes" Checksum="yes"/>
                <Shortcut Id="ApplicationStartMenuShortcut" Name="TrueLedger" Description="Premium Personal Finance &amp; Expense Tracking" Directory="ApplicationProgramsFolder" WorkingDirectory="INSTALLFOLDER" Icon="app_icon.ico" IconIndex="0" Advertise="yes" />
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            </Component>
            <Component Id="FlutterWindowsDLL" Guid="*">
                <File Id="FlutterWindowsDLL" Source="build\windows\x64\runner\Release\flutter_windows.dll" KeyPath="yes" />
            </Component>
            <Component Id="Sqlite3DLL" Guid="*">
                <File Id="Sqlite3DLL" Source="build\windows\x64\runner\Release\sqlite3.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
